<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/company.css">
	</head>
	
	<body><div id="symbol"></div><div id="title"></div>
		<table>
					  <ul>
						 
						   <li><a href="/main_page">Main</a></li>
						  <li><a href="/browse_all_jobs"> Browse all jobs</a></li>
						  <li><a href="/personal_info">Personal info</a></li>
						  <li><a href="/add_company">Add a company</a></li>
						  <li><a href="/create_job">Post a new job</a></li>
						  <li><a href="/leave_feedback">Leave feedback</a></li>						  
					      <ul class="login">
						  {%if is_logged==False%}
							<li><a href="/user_registration">Register </a></li> 
							<li><a href="/user_login">Log in</a></li>    
						  {%endif%}
						  {%if is_logged!=False%}					
								<li><a class="hi_nickname">Hi {{is_logged}}</a></li>
								<li><a href="/user_logout">Log out</a></li>    					
						  {%endif%}
						  </ul>
					  </ul>
				
			</table>
							
		<tr>
                    <td>
						<h1 class="center_title">jobs posted by {{recruiter}} </h1>
					</td>
                </tr>  
		<table class="tables">
            <tr class="tables_title">
                
				<td> Job title</td>
				<td> Company</td>
				<td colspan="2"> Number of current nominees </td>
            </tr>
			
            {% for job in list_of_jobs %}
				<tr class="tables_values">
					
					<td class="tables_right">	<form action="/browse_nominees" method="post">
							<input type="hidden" name="job_num" value="{{job[0]}}">
							<input type="submit" value="{{job[1]}}" id="wide">
						</form>
					</td>
					<td class="tables_right"> {{job[2]}} </td>
					<td colspan="2" class="tables_right"> {{job[3]}} </td>					
				</tr>
			{% endfor %}

        </table>
		</div>
		</body>
		</html>