<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/company.css">
	</head>
	
	<body><div id="symbol"></div><div id="title"></div>
	<table>
					  <ul>
						 
						   <li><a href="/main_page">Main</a></li>
						  <li><a href="/browse_all_jobs"> Browse all jobs</a></li>
						  <li><a href="/personal_info">Personal info</a></li>
						  <li><a href="/add_company">Add a company</a></li>
						  <li><a href="/create_job">Post a new job</a></li>
						  <li><a href="/leave_feedback">Leave feedback</a></li>

					      <ul class="login">
						  {%if is_logged==False%}
							<li><a href="/user_registration">Register </a></li> 
							<li><a href="/user_login">Log in</a></li>    
						  {%endif%}
						  {%if is_logged!=False%}					
								<li><a class="hi_nickname">Hi {{is_logged}} {{is_logged}}</a></li>
								<li><a href="/user_logout">Log out</a></li>    					
						  {%endif%}
						  </ul>
					  </ul>
				
			</table>
		<div id="box1">
		<div class="scroll">
		<table class="collapsed_table framed">
            <tr class="labels_row" />
                <td> Nominees:</td>
            </tr>

            {% for i in range(num_of_noms) %}
				<tr>
					<td>{{list_of_nominees[i][0]}} </td>
					
				</tr>
			{% endfor %}

        </table>
		</div>
		</div>
		</body>
		</html>